.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-logo {
  height: 50px;
}

.nav ul li {
  display:flex;
  align-items: center;
  list-style: none;
  margin-right: 70px;
}

.nav ul li:last-child{
  margin-right: 0;
}

.nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 17px;
}
.nav ul {
  display: flex;
}
