.nav {
    position: relative;
    top:0;
    left:0;
    width:100%;
}

.nav-logo {
    height: 50px;
}

.nav ul li{
    list-style: none;
    margin-right: 30px;
}
.nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.nav ul {
    display: flex;
}